*{
	box-sizing: border-box;
	font-family: Open Sans,Arial,sans-serif;
	margin: 0;
}

body{
	background-color: #f4f4f4;
}

.col{
	float: left;
	margin: 15px 0;
}

.container{
	width: 100%;
	margin: 0 auto;
}

.col-lg-1{width: 8.33%;}
.col-lg-2{width: 16.66%;}
.col-lg-3{width: 25%;}
.col-lg-4{width: 33.33%;}
.col-lg-5{width: 41.66%;}
.col-lg-6{width: 50%;}
.col-lg-7{width: 58.33%;}
.col-lg-8{width: 66.66%;}
.col-lg-9{width: 74.99%;}
.col-lg-10{width: 83.33%;}
.col-lg-11{width: 91.66%;}
.col-lg-12{width: 100%;}

h1{
	text-align: center;
	margin-top: 30px;
}

h2{
	background-color: #347B98;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    font-size: 16px;
    border-left: 1px solid #1A3E4C;
    border-bottom: 1px solid #1A3E4C;
    border-radius: 0 0 0 5px;
    color: #fff;
}

p{
	font-size: 13px;
	margin-top: 25px;
}

.chickSec, .beefSec, .sushiSec{
	padding: 0 15px;
}

.innerSec{
	background-color: #E4F1F6;
	border: 1px solid #1A3E4C;
	margin: 0;
	padding: 15px;
	position: relative;
}


/* Tablet Style */
@media (min-width: 768px) and (max-width: 991px){
	.col-md-1{width: 8.33%;}
	.col-md-2{width: 16.66%;}
	.col-md-3{width: 25%;}
	.col-md-4{width: 33.33%;}
	.col-md-5{width: 41.66%;}
	.col-md-6{width: 50%;}
	.col-md-7{width: 58.33%;}
	.col-md-8{width: 66.66%;}
	.col-md-9{width: 74.99%;}
	.col-md-10{width: 83.33%;}
	.col-md-11{width: 91.66%;}
	.col-md-12{width: 100%;}
}

/* Mobile Style */
@media (max-width: 767px){
	.col-sm-1{width: 8.33%;}
	.col-sm-2{width: 16.66%;}
	.col-sm-3{width: 25%;}
	.col-sm-4{width: 33.33%;}
	.col-sm-5{width: 41.66%;}
	.col-sm-6{width: 50%;}
	.col-sm-7{width: 58.33%;}
	.col-sm-8{width: 66.66%;}
	.col-sm-9{width: 74.99%;}
	.col-sm-10{width: 83.33%;}
	.col-sm-11{width: 91.66%;}
	.col-sm-12{width: 100%;}
	
	.chickSec, .beefSec, .sushiSec{
		padding: 0 40px;
	}
}



